{% extends 'base.html.twig' %}

{% block title %}{% trans %}Booking.create{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}Booking.create{% endtrans %}</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{% endblock %}
