{% extends 'base.html.twig' %}

{% block title %}{% trans %}booking.list{% endtrans %}{% endblock %}
{% block body %}
    <table class="table text-center">
        <tr>
             <th class="active text-center">{% trans %}ad.num{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.name_firstname{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.number_place{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.animals{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.smoking{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_address{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_city{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.end_address{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.end_city{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_time{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.modification{% endtrans %}</th>
        </tr>
        {% for reservation in reservations %}
            <tr>
                <td>{{reservation.id}}</td>                    
                <td>{{reservation.idAnnonce.idUser.forenameUser}} {{reservation.idAnnonce.idUser.nameUser}}</td>
                <td>{{reservation.idAnnonce.nbPlaces}}</td>
                {% if reservation.idAnnonce.animauxAutorisees == 1 %}
                    <td>{% trans %}yes{% endtrans %}</td>
                {% else %}
                    <td>{% trans %}no{% endtrans %}</td>
                {% endif %}
                {% if reservation.idAnnonce.fumeursAutorises == 1 %}
                    <td>{% trans %}yes{% endtrans %}</td>
                {% else %}
                    <td>{% trans %}no{% endtrans %}</td>
                {% endif %}
                <td>{{reservation.idAnnonce.adresseDepart}}</td>
                <td>{{reservation.idAnnonce.villeDepart}}</td>
                <td>{{reservation.idAnnonce.adresseArrivee}}</td>
                <td>{{reservation.idAnnonce.villeArrivee}}</td>
                <td>{{reservation.idAnnonce.dateHeureDepart |date('d-m-Y')}}</td>
                <td>{{reservation.nbPlaces}}</td>
                <td>
                    {% if reservation.idAnnonce.dateHeureDepart > date()%}
                        {# {% if is_granted('ROLE_ADMIN') == false %} #}
                            <a class="nav-link" href="{{ path( 'reserver.delete',{'id': reservation.id} ) }}"> 
                                <img style="width: 30px;" src="{{ asset('img/bin.png') }}">
                            </a>
                            <a class="nav-link" href="{{ path( 'reserver.modify',{'id': reservation.id} ) }}"> 
                                <img style="width: 30px;" src="{{ asset('img/edit.png') }}">
                            </a>
                        {# {% endif %} #}
                    {% else %}
                        <a class="nav-link" href="{{ path( 'commenter.create',{'id': reservation.idAnnonce.id} ) }}"> 
                            <img style="width: 30px;" src="{{ asset('img/comments.png') }}">
                        </a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
