{% extends 'base.html.twig' %}

{% block title %}{% trans %}comment.create{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}comment.create{% endtrans %} :</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{% endblock %}
