{% extends 'base.html.twig' %}

{% block title %} Liste des commentaires {% endblock %}
{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">{% trans %}ad.num{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.name_firstname{% endtrans %}</th>
            <th class="active text-center">{% trans %}comment{% endtrans %}</th>
            <th class="active text-center">{% trans %}rating{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_city{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.end_city{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_time{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.modification{% endtrans %}</th>
        </tr>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{commentaire.id}}</td>                    
                <td>{{commentaire.idAnnonce.idUser.forenameUser}} {{commentaire.idAnnonce.idUser.nameUser}}</td>
                <td>{{commentaire.commentaire}}</td>
                <td>{{commentaire.note}}</td>
                <td>{{commentaire.idAnnonce.villeDepart}}</td>
                <td>{{commentaire.idAnnonce.villeArrivee}}</td>
                <td>{{commentaire.idAnnonce.dateHeureDepart |date('d-m-Y')}}</td>
                <td>
                    <a class="nav-link" href="{{ path( 'commenter.delete',{'id': commentaire.id} ) }}"> 
                        <img style="width: 30px;" src="{{ asset('img/bin.png') }}">
                    </a>
                    <a class="nav-link" href="{{ path( 'commenter.modify',{'id': commentaire.id} ) }}"> 
                        <img style="width: 30px;" src="{{ asset('img/edit.png') }}">
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
