{% extends 'base.html.twig' %}

{% block title %} Liste des commentaires {% endblock %}
{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">{% trans %}ad.num{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.name_firstname{% endtrans %}</th>
            <th class="active text-center">{% trans %}comment{% endtrans %}</th>
            <th class="active text-center">{% trans %}rating{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_city{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.end_city{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_time{% endtrans %}</th>
        </tr>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{commentaire.id}}</td>                    
                <td>{{commentaire.idUser.forenameUser}} {{commentaire.idUser.nameUser}}</td>
                <td>{{commentaire.commentaire}}</td>
                <td>{{commentaire.note}}</td>
                <td>{{commentaire.idAnnonce.villeDepart}}</td>
                <td>{{commentaire.idAnnonce.villeArrivee}}</td>
                <td>{{commentaire.idAnnonce.dateHeureDepart |date('d-m-Y')}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
