{% extends 'base.html.twig' %}

{% block title %}{% trans %}ad.create{% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %}ad.create_trip_announcement{% endtrans %}</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{% endblock %}
