{% extends 'base.html.twig' %}

{% block title %}{% trans %}ad.list{% endtrans %}{% endblock %}
{% block body %}
    <div>
    {{form_start(form)}}
    {{form_end(form)}}
    </div>
    <table class="table text-center">
        <tr>
            <th class="active text-center">{% trans %}ad.num{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.name_firstname{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.number_place{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.animals{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.smoking{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_address{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_city{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.end_address{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.end_city{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_time{% endtrans %}</th>
            {% if is_granted('ROLE_USER') %}
                <th class="active text-center">{% trans %}ad.modification{% endtrans %}</th>
            {% endif %}
        </tr>
        {% for annonce in annonces %}
            <tr>
                <td>{{annonce.id}}</td>                    
                <td>{{annonce.idUser.forenameUser}} {{annonce.idUser.nameUser}}</td>
                <td>{{annonce.nbPlaces}}</td>
                {% if annonce.animauxAutorisees == 1 %}
                    <td>{% trans %}yes{% endtrans %}</td>
                {% else %}
                    <td>{% trans %}no{% endtrans %}</td>
                {% endif %}
                {% if annonce.fumeursAutorises == 1 %}
                    <td>{% trans %}yes{% endtrans %}</td>
                {% else %}
                    <td>no</td>
                {% endif %}
                <td>{{annonce.adresseDepart}}</td>
                <td>{{annonce.villeDepart}}</td>
                <td>{{annonce.adresseArrivee}}</td>
                <td>{{annonce.villeArrivee}}</td>
                <td>{{annonce.dateHeureDepart |date('d-m-Y')}}</td>
                {% if is_granted('ROLE_USER') %}
                    <td>
                        <a class="nav-link" href="{{ path( 'reserver.create',{'id': annonce.id} ) }}"> 
                            <button type="button" class="btn btn-success">{% trans %}reserve{% endtrans %}</button>
                        </a>
                        <a class="nav-link" href="{{ path( 'commenter.listAnnonce',{'id': annonce.idUser.id} ) }}"> 
                            <button type="button" class="btn btn-success">{% trans %}comment{% endtrans %}</button>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
