{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>
            <a href="{{ path('annonce.create') }}" class="btn btn-default navbar-btn">{% trans %}path.create{% endtrans %}</a>
        </div>
        <div>
            {{form_start(form)}}
            {{form_end(form)}}
        </div>
    </div>
    <table class="table text-center">
        <tr>
            <th class="active text-center">{% trans %}ad.num{% endtrans %}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th class="active text-center">{% trans %}driver.id{% endtrans %}</th>
                <th class="active text-center">{% trans %}user.name_firstname{% endtrans %}</th>
            {% endif %}
            <th class="active text-center">{% trans %}ad.number_place{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.animals{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.smoking{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_address{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_city{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.end_address{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.end_city{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.start_time{% endtrans %}</th>
        </tr>
        {% for annonce in annonces %}
            <tr>
                <td>{{annonce.id}}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{annonce.idUser.id}}</td>
                    <td>{{annonce.idUser.forenameUser}} {{annonce.idUser.nameUser}}</td>
                {% endif %}
                <td>{{annonce.nbPlaces}}</td>
                {% if annonce.animauxAutorisees == 1 %}
                    <td>{% trans %}yes{% endtrans %}</td>
                {% else %}
                    <td>{% trans %}no{% endtrans %}</td>
                {% endif %}
                {% if annonce.fumeursAutorises == 1 %}
                    <td>{% trans %}yes{% endtrans %}</td>
                {% else %}
                    <td>no</td>
                {% endif %}
                <td>{{annonce.adresseDepart}}</td>
                <td>{{annonce.villeDepart}}</td>
                <td>{{annonce.adresseArrivee}}</td>
                <td>{{annonce.villeArrivee}}</td>
                <td>{{annonce.dateHeureDepart |date('d-m-Y')}}</td>
                <td>
                {% if annonce.dateHeureDepart > date()%}
                    <a class="nav-link" href="{{ path( 'annonce.delete',{'id': annonce.id} ) }}"> 
                        <img style="width: 30px;" src="{{ asset('img/bin.png') }}">
                    </a>
                    {% if is_granted('ROLE_ADMIN') == false %}
                        <a class="nav-link" href="{{ path( 'annonce.modify',{'id': annonce.id} ) }}"> 
                            <img style="width: 30px;" src="{{ asset('img/edit.png') }}">
                        </a>
                        <a class="nav-link" href="{{ path( 'annonce.copy',{'id': annonce.id} ) }}"> 
                        <img style="width: 30px;" src="{{ asset('img/copy.png') }}">
                        </a>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
