<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Cocovoit</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                    <li>
                        <div>
                            <a href="{{ path('annonce.list')}}" class="btn btn-default navbar-btn">{% trans %}ad.see{% endtrans %}</a>
                        </div>
                    </li>   
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <div>
                            <a href="
                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ path('trajet.listAdmin')}}
                                {% else %}
                                    {{ path('trajet.list')}}
                                {% endif %}
                            " class="btn btn-default navbar-btn">{% trans %}route.consult{% endtrans %}</a>
                        </div>
                    </li> 
                    <li>
                        <div>
                            <a href="{{ path('reserver.list')}}" class="btn btn-default navbar-btn">{% trans %}booking{% endtrans %}</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="{{ path('commenter.list')}}" class="btn btn-default navbar-btn">{% trans %}comment.written{% endtrans %}</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="{{ path('commenter.listRecu')}}" class="btn btn-default navbar-btn">{% trans %}comment.received{% endtrans %}</a>
                        </div>
                    </li>
                {% endif %} 
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <div>
                            <a href="{{ path('user.list') }}" class="btn btn-default navbar-btn">{% trans %}user.consult{% endtrans %}</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href={{ path("index", {'_locale':'fr'}) }}>
                        <img style="width: 30px;" src="{{ asset('img/FR.png') }}">
                    </a>
                </li>
                <li>
                    <a href={{ path("index", {'_locale':'en'}) }}>
                        <img style="width: 30px;" src="{{ asset('img/EN.png') }}">
                    </a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a class="nav-link" href="{{ path( 'user.modify')}}"> 
                            <img style="width: 30px;" src="{{ asset('img/editProfil.png') }}">
                        </a>
                    </li>
                    <li>
                            <a href=" {{ path('app_logout') }}" class="nav-link">
                                <img style="width: 30px;" src="{{ asset('img/logout.png') }}">
                            </a>
                    </li>
                {% else %}
                    <li>
                        <div>
                            <a href="{{ path('user.create') }}" class="btn btn-default navbar-btn">{% trans %}user.create{% endtrans %}</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href=" {{ path('app_login') }}" class="btn btn-default navbar-btn">{% trans %}sign_in{% endtrans %}</a>
                        </div>
                    </li>
                    
                {% endif %}
                <li>
                    <div class="dropdown-content">
                        <a class="btn btn-default navbar-btn" href={{ path("theme", {"theme":"dark"}) }}>{% trans %}dark{% endtrans %}</a>
                        <a class="btn btn-default navbar-btn" href={{ path("theme", {"theme":"light"}) }}>{% trans %}light{% endtrans %}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>