.btn-default {
    color: white !important;
    background-color: grey !important;
    border-color: #ccc !important;
}

body {
    color: white !important;
    background-color: grey !important;
}
.table>tbody>tr>th.active{
    color: grey !important;
    background-color: white !important;
}