.btn-default {
    color: black !important;
    background-color: white !important;
    border-color: #ccc !important;
}

body {
    color: black !important;
    background-color: white !important;
}

.table>tbody>tr>th.active{
    color: black !important;
    background-color: white !important;
}