<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block css %}<link rel="stylesheet" type="text/css" href="/themes/{{ app.request.cookies.get("user_theme") }}.css">{% endblock %}

        {% block javascripts %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
    </head>
    
    <body>
        {% include("navbar/navbar.html.twig") %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
