{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">{% trans %}user.num{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.email{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.role{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.name{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.firstname{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.phone{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.address{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.city{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.postal_code{% endtrans %}</th>
            <th class="active text-center">{% trans %}user.vehicle_model{% endtrans %}</th>
            <th class="active text-center">{% trans %}ad.modification{% endtrans %}</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.email}}</td>
                <td>{% for role in user.roles %}{{ role }} {% endfor %}</td>
                <td>{{user.nameUser}}</td>
                <td>{{user.forenameUser}}</td>
                <td>{{user.phoneUser}}</td>
                <td>{{user.addressUser}}</td>
                <td>{{user.cityUser}}</td>
                <td>{{user.postalCodeUser}}</td>
                <td>{{user.carModelUser}}</td>
                <td>
                    <a class="nav-link" href="{{ path( 'user.delete',{'id': user.id} ) }}"> 
                        <img style="width: 30px;" src="{{ asset('img/bin.png') }}">
                    </a>
                    <a class="nav-link" href="{{ path( 'user.setAdmin',{'id': user.id} ) }}"> 
                        <img style="width: 30px;" src="{{ asset('img/setAdmin.png') }}">
                    </a>
                </td>
            </tr>
        {% endfor %}
        
    </table>
{% endblock %}
